@charset "UTF=8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #038C5A, #025939);
}
main{
    background-color: aliceblue;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #023623;
}
h1{
    color: #f28305;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(49, 49, 49);
}
h2{
    color: #F2B705;
}
p{
    text-align: justify;
}